
{% extends "layout.html" %}
{% block content %}
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
    <div class="container">
    
      <h1 class="display-3">Selamat datang di website kami!</h1>

      <h3 class="display-5">Website ini dibuat untuk memenuhi Tugas Besar mata kuliah Pengenalan Komputasi.</h3>
    
      <p>Dibuat di atas framework Flask, dengan bantuan Bootstrap dan template dari Flask cookiecutter.</p>
      <p>Data diperoleh melalui hasil webscraping dari website x-rates.com</p>
    </div>
</div><!-- /.jumbotron -->

{% endblock %}
